/* Reset */

* {
  padding: 0;
  margin: 0;
}

/* Body */

body {
  padding: 24px;
  background-color: rgb(3, 3, 51);
  font-family: Helvetica Neue;
}

h2 {
  text-align: center;
  padding: 12px 0 24px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(100vh / 3);
}

.weather-container {
  border: 1px solid black;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 24px;
  background-color: rgba(240, 237, 237, 0.8);
}

img {
  padding-right: 24px;
}

.main-data-container {
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}

.data-container > * {
  padding: 4px 0;
  text-align: right;
}

.temperature-container {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 18px;
}

.maxT {
  color: firebrick;
}

.minT {
  color: rgb(10, 10, 129);
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 24px 0 12px 0;
}

input {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

button {
  padding: 8px 10px;
  color: white;
  background-color: rgba(3, 3, 51, 0.7);
  font-size: 17px;
  border-radius: 8px;
  border: none;
  margin: 0 8px;
}
